.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #373a3e;
  color: white;
  min-height: 100vh;
}

.header {
  padding: 20px;
  background-color: #373a3e;
  color: white;
}

.title {
  font-size: 5.5em;
  color: color-mix(in srgb, rgb(19, 98, 147) 70%, gray 30%);
}

.select-container {
  margin-top: 300px
}

.select {
  padding: 10px;
  font-size: 1em;
}

.table-container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.table tbody tr.warning {
  background-color: #9bb601; 
}

.table tbody tr.danger {
  background-color: #ff0000; 
}
.table th, .table td {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}

.table th {
text-align: center;
}

.table tbody tr:hover {
  background-color: rgb(66, 71, 71);
  cursor: pointer;
}

.cards-container {
  margin-top: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-weight: bold;
  
}
.rest{
  color: rgb(199, 14, 14)
}
.currentpay{
  color: green;
}
.dataCard{
  display: flex;
  margin: 10px;
  gap: 10px
}
.card {
  border: dashed;
  padding: 20px;
  text-align: center;
  display: grid;
  width: 250px;
  justify-content: center;
}
.card h2{
  text-align: left;
}
.image {
  height: 50px;
}
